.lead__content {
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .lead__container {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .lead__container {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .lead__container {
    max-height: 200px;
  }
}