.photo-grid {
  margin:0;
  padding: 0 48px 92px;
  max-width: 1184px;
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns:  repeat(4,1fr);
  gap: 16px;
}

@media screen and (max-width:1279px){
  .photo-grid{
      gap: 14px;
      max-width: calc(100% - 96px);
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media screen and (max-width:1023px){
  .photo-grid{
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      max-width: calc(100% - 48px);
      padding-bottom:  88px;         
  }
}

@media screen and (max-width:767px){
  .photo-grid{
      display: flex;
      flex-direction: column;
      max-width: calc(100% - 32px);
      padding-bottom:  64px;
      gap: 12px;       
  }
}
