.places {
  max-width: 984px;
  padding-top: 92px;
  padding-bottom: 92px;
  margin: 0 auto;
  display: grid;
  gap: 80px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding-top: 88px;
    padding-bottom: 90px;
    max-width: 720px;
    gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding-top: 64px;
    padding-bottom: 66px;
    gap: 50px;
  }
}