.places {
  max-width: 984px;
  padding-top: 92px;
  padding-left: 148px;
  margin: 0;
  display: grid;
  gap: 80px;
}

@media screen and (max-width: 1279px) {
  .places {
    padding-left: 48px;
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    padding-top: 88px;
    padding-left: 24px;
    max-width: 720px;
    gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding-top: 64px;
    padding-left: 0;
    max-width: 320px;
    gap: 50px;
  }
}