.cover__subtitle {
  font-family: 'Inter',arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
  margin: 32px auto 0;
  max-width: 360px;
}

@media screen and (max-width: 1023px) {
  .cover__subtitle {
    width: 100%;
    max-width: 360px;
  }
  }
  
  @media screen and (max-width: 767px) {
    .cover__subtitle {
      width: 100%;
      max-width: 288px;
      font-size: 14px;
      line-height: 16px;
      margin: 16px 16px 32px 16px;
    }
    }
    