.header__link {
  color: #fff;
  font-family: "Inter",arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  font-size: 24px;
  line-height: 28px;
  transition: .2s ease-in-out;
	text-decoration: none;
}

.header__link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 18px;
    line-height: 20px;
  }
}