.lead__title {
  margin: 0 auto;
  color: #FFFFFF;
  font-family: 'Inter',arial, sans-serif;
  max-width: 720px;
  font-weight: 900;
  font-style: normal;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  }
  
  @media screen and (max-width: 767px) {
    .lead__title {
      font-size: 40px;
      line-height: 44px;
    }
  }

