.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-column-gap: 40px;
  margin: 0 auto 80px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
  }
}

/*сделал именно так, ибо не понимаю как сделать, чтобы колонки "слушались меня" на разрешении в 320px, пробовал сделать с помозью calc, но в конечном итоге все сводтлось к тому, что приходилось использовать flex*/