.place__url {
  font-family: 'Inter',arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: 425px) {
  .place__url {
    padding: 0 16px;
  }
}