.header__links {
  padding: 46px 0 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header__lang-links {
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 320px) {
  .header__list {
    padding: 30px 0 0;
  }
}